{% extends "layout.html" %}

{% load static %}

{% block headerExtension %}
{% endblock %}

{% block content %}
    <!-- LANDING -->
        <section id="landing">
            <div class="mainHeader">
                <h1>Zdeněk Podaný</h1>
                <div class="subHeader">
                    <h2>Webdesigner</h2>
                    <h2 class="h2line">|</h2>
                    <h2>Grafický Designer</h2>
                    <h2 class="h2line">|</h2>
                    <h2>Fotograf</h2>
                </div>
            </div>

            <div class="mainButtons">
                <a class="primaryButton buttonText" id="landingPortfolioButton" href="/portfolio">PORTFOLIO</a>
                <a class="secondaryButton buttonText" href="#contact">KONTAKT</a>
            </div>

            <div class="expander">
                <a class="expandButton" href="#fewWorksSection"><img src="{% static "base_app/svg/expand_more_white_24dp.svg" %}" alt="EXPAND"></a>
            </div>
        </section>

    <!-- COMPLETED WORKS -->
        <section id="fewWorksSection">
            <div class="header">
                <h3>Poslední práce</h3>
            </div>

            <div class="worksWrapper">

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>eValue.cz</h4>
                                </div>
                                <div class="tag">
                                    <p>WEBDESIGN</p>
                                </div>
                            </div>
                            <a href="https://www.evalue.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Moje první webovka kterou jsem napsal!<br><br>Hodně jsem se toho na ní naučil! A spolupráce s eValue.cz mi toho hodně přináší i dnes!<br><br>Můžete se tam mrknout přes ikonu vedle názvu.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/evalweb.png" %}">
                    </div>
                </div>

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>StatiF</h4>
                                </div>
                                <div class="tag">
                                    <p>WEBDESIGN</p>
                                </div>
                            </div>
                            <a href="https://www.statif.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Další práce pro eValue.cz, prezentační web pro jejich vyvíjenou aplikaci která zjednodušuje práci florbalovým trenérům.<br><br>Další skvělá zkušenost a práce která mě posunula dále.<br><br>Opět se dá navštívit přes ikonu vedle názvu.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/statifweb.png" %}">
                    </div>
                </div>

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>Kratomlife</h4>
                                </div>
                                <div class="tag">
                                    <p>GRAFIKA</p>
                                </div>
                            </div>
                            <a href="https://www.kratomlife.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Etikety pro eshop s kratomem, CBD oleji a květy KRATOMLIFE.cz.<br>S majitelem máme přes dva roky trvající spolupráci a po celou dobu jsme jeden s přístupem druhého nadmíru spokojeni.<br><br>Po prokliku vedle názvu se dostanete na eshop a můžete se mrknout jestli vás nějaký z produktů nezaujme a případně vidět moje návrhy živě.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/kratomlifeEtikety.png" %}">
                    </div>
                </div>

            </div>

        </section>

    <!-- CONTACT -->
        <section id="contact">
            <div class="header">
                <h3>Kontakt</h3>
            </div>

            <div class="paragraph">
                <p>Pokud se vám práce líbí a máte zájem o nějakou (pochopitelně free) konzultaci, nebojte se mi napsat přes formulář dole, nebo na mail. Pokud si chcete podiskutovat o nějakých projektech nebo o čemkoliv, volte spíš Facebook Messenger nebo bezpečnější Matrix.</p>
            </div>

            <div class="contactMethodsWrapper">
                <div class="contactMethod">
                    <div class="contactMethodHeader">
                        <img src="{% static "base_app/svg/matrix.svg" %}">
                        <h6>Matrix</h6>
                    </div>
                    <p>@zdepodany:matrix.org</p>
                </div>
                <div class="contactMethod">
                    <div class="contactMethodHeader">
                        <img src="{% static "base_app/svg/email_black_24dp.svg" %}">
                        <h6>E-mail</h6>
                    </div>
                    <p>zdepodany@gmail.com</p>
                </div>
                <div class="contactMethod">
                    <div class="contactMethodHeader">
                        <img src="{% static "base_app/svg/messenger.svg" %}">
                        <h6>Messenger</h6>
                    </div>
                    <p>Zdenek Waits</p>
                </div>
            </div>

        </section>
{% endblock %}