<!DOCTYPE html>
<html lang="cs">
    <head>
        {% load static %}
        <!-- TITLE TAGS -->
            <title>Zdeněk Podaný</title>
            <link rel="icon" type="image/svg" href="{% static "base_app/svg/favicon.svg" %}">

        <!-- REQUIRED META TAGS -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Webdesigner, Grafický designer, Fotograf">

            <meta property="og:locale" content="cz_CS"/>
            <meta property="og:type" content="website"/>
            <meta property="og:title" content="Zdeněk Podaný"/>
            <meta property="og:description" content="Webdesigner, Grafický designer, Fotograf"/>
            <meta property="og:url" content="https://zdenda.xyz"/>
            <meta property="og:image" content="{% static "base_app/img/og_me_twitter.png" %}"/>

            <meta property="twitter:card" content="summary_large_image"/>
            <meta property="twitter:title" content="Zdeněk Podaný"/>
            <meta property="twitter:description" content="Webdesigner, Grafický designer, Fotograf"/>
            <meta property="twitter:url" content="https://zdenda.xyz"/>
            <meta property="twitter:image" content="{% static "base_app/img/og_me_twitter.png" %}"/>


        <!-- GOOGLE FONTS -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS -->
            <link rel="stylesheet" href="{% static "base_app/css/master.css" %}">
            <link rel="stylesheet" href="{% static "base_app/css/landing.css" %}">
            <link rel="stylesheet" href="{% static "base_app/css/sectionWorks.css" %}">
            <link rel="stylesheet" href="{% static "base_app/css/contact.css" %}">
            <link rel="stylesheet" href="{% static "base_app/css/footer.css" %}">
            <link rel="stylesheet" href="{% static "base_app/css/navbar.css" %}">

        {% block headerExtension %}
        {% endblock %}
    </head>

    <body>

        <!-- NAVBAR -->
            <div class="navbarWrapper">
                <a class="navbarItem" href="/">DOMŮ</a>
                <a class="navbarItem" href="/portfolio">PORTFOLIO</a>
            </div>

        {% block content %}
        {% endblock %}

        <!-- FOOTER -->
            <footer id="footer">
                <p>© 2021 Zdeněk Podaný Všechna práva vyhrazena</p>
            </footer>
    </body>
</html>