{% extends "layout.html" %}

{% load static %}

{% block headerExtension %}
    <link rel="stylesheet" href="{% static "base_app/css/portfolio.css" %}">
{% endblock %}

{% block content %}

    <!-- LANDING -->
        <section id="landing">

            <div class="mainHeader">
                <h1>Portfolio</h1>
                <div class="subHeader">
                    <h2>Tady najdete kompletní výčet mých prací rozkategorizovaných podle typu práce.<br><br>Dělení je následující:</h2>
                </div>
            </div>

            <div class="portfolioButtons">
                <a class="secondaryButton buttonText" href="#portfolioWebdesign">WEBDESIGN</a>
                <a class="secondaryButton buttonText" href="#portfolioGraphics">GRAFIKA</a>
                <a class="secondaryButton buttonText" href="#portfolioUIUX">UI/UX</a>
                <a class="secondaryButton buttonText" href="#portfolioPhotos">FOTOGRAFIE</a>
            </div>
        </section>

    <!-- WEBDESIGN PORTFOLIO -->
        <section id="portfolioWebdesign">

            <div class="header">
                <h3>Webdesign</h3>
            </div>

            <div class="worksWrapper">

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>Vencovy Včelky</h4>
                                </div>
                                <div class="tag">
                                    <p>WEBDESIGN</p>
                                </div>
                            </div>
                            <a href="https://vcelky.evalue.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Vzhledem k tomu že sám mám ke včelám blízko, byla pro mě tahle práce větší zábava než normálně. Od řešení barev, po konečně rozvržení a kódování, všechno se díky správnému zadání a dobré komunikaci se zadavatelem, dělalo nesčetněkrát lépe.<br><br>Po prokliku se můžete na stránku podívat.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/vencovyVcelkyWeb.png" %}">
                    </div>
                </div>

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>Střelka</h4>
                                </div>
                                <div class="tag">
                                    <p>WEBDESIGN</p>
                                </div>
                            </div>
                            <a href="https://taborstrelka.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Web pro Dětský tábor Střelka z Jižní Moravy se může zdát malý, ovšem skrývá se za ním slušné množství práce. Moje práce byla samotný návrh a realizace front-endu (to co vidíte když stránku rozkliknete) a můj kolega se kterým stránky vytváříme, měl na starosti backend (ukládání nahraných fotek, jejich třídění, přihlašování pro lidi co fotky nahrávají). Tady se opravdu většina práce skrývá v pozadí aby poháněla hezký a odlehčený web který i po čase stále udržujeme a vylepšujeme. Zároveň se jedná o web který hostujeme na "našich" pronajatých serverech.<br><br>Po prokliku se můžete podívat na stránku samotnou.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/taborstrelka.png" %}">
                    </div>
                </div>

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>eGspol</h4>
                                </div>
                                <div class="tag">
                                    <p>WEBDESIGN</p>
                                </div>
                            </div>
                            <a href="https://egspol.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Poptávka na stránky pro eGspol přišla s velmi zvláštním zadáním, firma už je založená ale zatím neví čemu se budě věnovat, nápady majitele začínají u stavební techniky a končí u softwarových řešení. Malá statická stránka která slouží pouze k tomu že řekne "existujeme".<br><br>Proklik vás opět přenese na stránku samotnou.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/egspol.png" %}">
                    </div>
                </div>

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>StatiF</h4>
                                </div>
                                <div class="tag">
                                    <p>WEBDESIGN</p>
                                </div>
                            </div>
                            <a href="https://www.statif.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Další práce pro eValue.cz, prezentační web pro jejich vyvíjenou aplikaci která zjednodušuje práci florbalovým trenérům.<br><br>Další skvělá zkušenost a práce která mě posunula dále.<br><br>Opět se dá navštívit přes ikonu vedle názvu.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/statifweb.png" %}">
                    </div>
                </div>

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>eValue.cz</h4>
                                </div>
                                <div class="tag">
                                    <p>WEBDESIGN</p>
                                </div>
                            </div>
                            <a href="https://www.evalue.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Moje první webovka kterou jsem napsal!<br><br>Hodně jsem se toho na ní naučil! A spolupráce s eValue.cz mi toho hodně přináší i dnes!<br><br>Můžete se tam mrknout přes ikonu vedle názvu.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/evalweb.png" %}">
                    </div>
                </div>

            </div>

        </section>

    <!-- GRAPHICS PORTFOLIO -->
        <section id="portfolioGraphics">

            <div class="header">
                <h3>Grafika</h3>
            </div>

            <div class="worksWrapper">

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>Kratomlife</h4>
                                </div>
                                <div class="tag">
                                    <p>GRAFIKA</p>
                                </div>
                            </div>
                            <a href="https://www.kratomlife.cz/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Etikety pro eshop s kratomem, CBD oleji a květy KRATOMLIFE.cz.<br>S majitelem máme přes dva roky trvající spolupráci a po celou dobu jsme jeden s přístupem druhého nadmíru spokojeni.<br><br>Po prokliku vedle názvu se dostanete na eshop a můžete se mrknout jestli vás nějaký z produktů nezaujme a případně vidět moje návrhy živě.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/kratomlifeEtikety.png" %}">
                    </div>
                </div>

                <div class="workWrapper">
                    <div class="textWrapper">
                        <div class="workText">
                            <div class="headingAndTags">
                                <div class="heading">
                                    <h4>Ghell</h4>
                                </div>
                                <div class="tag">
                                    <p>GRAFIKA</p>
                                </div>
                            </div>
                            <a href="https://www.instagram.com/ghell_events/" target="_blank">
                                <div class="workLink">
                                    <img src="{% static "base_app/svg/ads_click_white_24dp.svg" %}">
                                </div>
                            </a>
                        </div>
                        <div class="workParagraph">
                            <p>Kompletní branding pro Ghell Events obsahuje např. materiály pro online i offline propagaci nebo identifikační systém karet a vše se drží designových trendů a zároveň se snaží o maximální přehlednost a funkčnost. Spolupráce trvající už od založení projektu (v roce 2017) je důkazem o kvalitě provedené práce.<br><br>Po prokliku se dostanete na instagram projektu a můžete se podívat na propagaci v praxi, případně se zastavit na nějaké akci.</p>
                        </div>
                    </div>
                    <div class="workImage">
                        <img src="{% static "base_app/img/ghell.png" %}">
                    </div>
                </div>

            </div>

        </section>

    <!-- UI/UX -->
        <section id="portfolioUIUX">
            <div class="mainButtons">
                <p class="warningText">Na UI/UX a Fotografické sekci se ještě pracuje, do té doby se můžete mrknout na můj <a href="https://www.behance.net/zdepodany" target="_blank">Behance profil</a></p>
            </div>
        </section>

    <!-- PHOTOS -->
        <section id="portfolioPhotos">

        </section>

{% endblock %}