#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactMethodsWrapper {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contactMethod {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 30px 0px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.contactMethod p {
    color: #5459ff;
    font-size: 15pt;
}

.contactMethodHeader {
    color: #5459ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.contactMethodHeader img {
    max-width: 70px;
}



/* --- RESPONSIVITY --- */

/* --- Laptop with HiDPI screen --- */
@media only screen and (max-width: 1440px) {
    .contactMethod p {
        font-size: 11pt;
    }

    .contactMethodHeader img {
        max-width: 50px;
    }
}

/* --- iPad --- */
@media only screen and (max-width: 1024px) {
    .contactMethod {
        width: 30%;
    }

    .contactMethod p {
        font-size: 10pt;
    }

    .contactMethodHeader {
        flex-direction: column;
    }

    .contactMethodHeader img {
        margin-bottom: 3%;
    }
}

/* --- iPhone X --- */
@media only screen and (max-width: 560px) {
    .contactMethodsWrapper {
        margin-top: 5%;
        flex-direction: column;
    }

    .contactMethod {
        width: 60%;
        margin-bottom: 4%;
    }
}