#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5459FF;
    color: #fff;
    padding: 2% 0;
}

#footer p {
    font-weight: 200;
    margin-block-end: 0;
    margin-block-start: 0;
}