#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    background-color: #5459ff;
}

.mainHeader {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHeader h1 {
    margin-bottom: 3%;
}

.subHeader {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* --- BUTTONS --- */

.mainButtons {
    width: 100%;
    height: 20vh;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingPortfolioButton {
    margin-bottom: 1%;
}

.primaryButton {
    padding: 13px 60px;
    border: 4px solid #fff;
    border-radius: 50px;
    color: #5459ff;
    background-color: #fff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.primaryButton:hover {
    border: 4px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.primaryButton:active {
    border: 4px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.secondaryButton {
    padding: 13px 60px;
    border: 4px solid #fff;
    border-radius: 50px;
    color: #fff;
    background-color: transparent;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.secondaryButton:hover {
    color: #5459ff;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.secondaryButton:active {
    color: #5459ff;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}


/* --- EXPAND ARROW --- */

.expander {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.expandButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    transition: 0.3s;
}

.expandButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.expander img {
    width: 50px;
}


/* --- WORKS --- */

#fewWorksSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}



/* --- RESPONSIVITY --- */

/* --- Laptop with HiDPI screen --- */
@media only screen and (max-width: 1440px) {
    .subHeader {
        width: 50%;
    }
}

/* --- iPhone X --- */
@media only screen and (max-width: 560px) {
    .mainHeader {
        width: 80%;
    }

    .subHeader {
        width: 80%;
        flex-direction: column;
    }
    /* BUTTONS */
    #landingPortfolioButton {
        margin-top: 15%;
        margin-bottom: 5%;
    }

    .primaryButton {
        border: 3px solid #fff;
    }

    .secondaryButton {
        border: 3px solid #fff;
    }
    /* EXPAND ARROW */
    .expander {
        margin-top: 30%;
    }
}

/* --- iPhone 5 --- */
@media only screen and (max-width: 320px) {
    #landingPortfolioButton {
        margin-top: 25%;
    }
}