html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}


/* --- TEXT --- */

.buttonText {
    font-size: 15pt;
    font-weight: 600;
}
/* --- WARNINGTEXT --- */
.warningText {
    font-size: 10pt;
    font-weight: 200;
    margin-bottom: 1rem;
    width: 20%;
    text-align: center;
}

.warningText a {
    color: rgb(66, 255, 192);
    font-weight: 400;
}

.warningText a:hover {
    text-decoration: underline;
}
/* --- WARNINGTEXT --- */
p {
    font-size: 12pt;
    font-weight: 400;
    margin-block-end: 0;
    margin-block-start: 0;
}

h1 {
    font-size: 35pt;
    font-weight: 500;
    margin-block-end: 0;
    margin-block-start: 0;
}

h2 {
    font-size: 16pt;
    font-weight: 200;
    margin-block-end: 0;
    margin-block-start: 0;
}

h3 {
    font-size: 25pt;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 0;
}

h4 {
    font-size: 40pt;
    font-weight: 700;
    margin-block-end: 0;
    margin-block-start: 0;
}

h6 {
    font-size: 25pt;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 0;
}


/* --- TEXT BLOCK --- */

.paragraph {
    text-align: center;
    width: 40%;
}



/* --- RESPONSIVITY --- */

/* --- Laptop with HiDPI screen --- */
@media only screen and (max-width: 1440px) {
    p {
        font-size: 10pt;
    }

    h2 {
        font-size: 13pt;
    }

    h4 {
        font-size: 30pt;
    }

    h6 {
        font-size: 19pt;
    }
}

/* --- iPhone X --- */
@media only screen and (max-width: 375px) {
    p {
        font-size: 9pt;
    }

    h1 {
        font-size: 40pt;
    }

    h2 {
        font-size: 11pt;
    }

    h4 {
        font-size: 23pt;
    }

    .h2line {
        display: none;
    }

    .paragraph {
        text-align: center;
        width: 70%;
    }
}

/* --- iPhone X --- */
@media only screen and (max-width: 560px) {
    h1 {
        font-size: 30pt;
    }

    .warningText {
        width: 80%;
    }

    .warningText a {
        font-size: 15pt;
    }
}