.navbarWrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    box-shadow: 0 0 7px rgba(51, 51, 51, 0.3);
}

.navbarItem {
    cursor: pointer;
    padding: 15px 30px;
    color: #5459ff;
    font-weight: 500;

    transition: 0.2s;
}

.navbarItem:hover {
    background-color: rgba(84, 89, 255, 0.2);
}

.navbarItem:active {
    background-color: rgba(84, 89, 255, 0.4);
}