.portfolioButtons {
    width: 50%;
    height: 20vh;
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.secondaryButton {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}



/* --- WEBDESIGN SECTION --- */

#portfolioWebdesign {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* --- GRAPHICS SECTION --- */

#portfolioGraphics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* --- UI/UX SECTION --- */

#portfolioUIUX {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #5459ff;
}



/* --- RESPONSIVITY --- */

/* --- 860px --- */
@media only screen and (max-width: 860px) {
    .portfolioButtons {
        width: 60%;
        margin-top: 13%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .secondaryButton {
        width: 20%;
        margin-bottom: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

/* --- iPhone X --- */
@media only screen and (max-width: 560px) {
    .portfolioButtons {
        width: 70%;
        margin-top: 20%;
    }

    .secondaryButton {
        width: 40%;
        font-size: 10pt;
        padding: 9px 40px;
    }
}

/* --- iPhone 5 --- */
@media only screen and (max-width: 320px) {
    .mainHeader {
        margin-bottom: 20%;
    }

    .portfolioButtons {
        width: 100%;
        margin-top: 10%;
    }
}