.header {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 6rem;
    color: #151880;
    text-align: center;
}

.worksWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workWrapper {
    width: 90%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textWrapper {
    width: 40%;
}

.workParagraph {
    padding-top: 1rem;
    color: #151880;
}

.workImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workImage img {
    min-width: 100px;
    object-fit: cover;
}

.workText {
    display: flex;
    justify-content: space-between;
}

.headingAndTags {
    width: 50%;
}

.heading {
    color: #151880;
}

.tag {
    width: 70%;
    padding: 1rem;
    border-radius: 40px;
    text-align: center;
    cursor: default;
    color: #151880;
    background-color: #eaeaff;
    transition: 0.3s;
}

.tag:hover {
    background-color: #d3d3ff;
}

.tag p {
    font-size: 12pt;
    font-weight: 500;
    margin-block-end: 0;
    margin-block-start: 0;
}

.workLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    border-radius: 50px;
    background-color: #5459ff;
    transition: 0.3s;
}

.workLink:hover {
    background-color: #464bdf;
    box-shadow: 0px 0px 25px rgba(61, 44, 44, 0.3);
}

.workLink img {
    min-width: 50px;
}



/* --- RESPONSIVITY --- */

/* --- Laptop with HiDPI screen --- */
@media only screen and (max-width: 1440px) {
    .tag p {
        font-size: 10pt;
    }

    .tag {
        width: 50%;
        padding: 0.7rem;
    }

    .workWrapper {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .textWrapper {
        width: 70%;
        margin-bottom: 3%;
    }

    .workImage {
        width: 70%;
    }
}

/* --- iPhone X --- */
@media only screen and (max-width: 560px) {
    .header {
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }

    .tag {
        width: 60%;
        padding: 0.5rem;
    }

    .textWrapper {
        width: 90%;
    }

    .workImage {
        width: 90%;
    }

    .workLink img {
        min-width: 35px;
    }
}